.featureWorkImages {
    height: 100%;
    width: auto;
}
/* The overlay */
.featureWorksOverlayText {
	position: absolute;
    height: 100%;
    margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
	opacity: 0; /* Start fully transparent */
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center; /* Centers the text vertically */
	justify-content: center; /* Centers the text horizontally */
}

/* The text inside the overlay */
.featureWorksOverlayText {
	color: white;
	transform: translateY(20px); /* Start slightly below center */
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	text-align: center;
	font-size: 18px;
}

.imageContainer .featureWorksOverlay {
	opacity: 1; /* Show the overlay */
}

.imageContainer:hover .featureWorksOverlayText {
	transform: translateY(0);
	opacity: 1; /* Show the text */
}